<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Condensed:wght@300&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet"> 
    <title>Layout</title>
    <style> 
        .main{
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        
        .secim{
            margin-bottom: 5%;
        }

        .headline{
            text-align: center;
            font-family: "Ubuntu";
            margin-bottom: 6%;
        }

        .headline2{
            font-family: "Ubuntu";
            margin-bottom: 2%;
            margin-top: 10%;
        }

        .headline3{
            text-align: center;
            font-family: "Ubuntu";
            margin-bottom: 6%;
            margin-top: 20%;
        }
        
        .detayli_accuracy{
            text-decoration: none;
            color: black;
            font-family: "Roboto Mono";
            font-size: 18px;
        }

        .detayli_accuracy:hover{
            text-decoration: none;
            color: black;
            opacity: 0.6;
            font-family: "Roboto Mono";
            font-size: 18px;
        }

        .text{
            font-size: 21px;
        }

        .progress{
            margin-top: 5%;
            margin-bottom: 5%;
        }
    </style>
</head>
<body>
    {%include "includes/navbar.html"%}
    <div class="main">
        <div class="secim">
            <h2 class="headline">Algoritmalar Hakkında</h2>
            <p class="text"> Edebi Zeka'yı geliştirirken çok sınıflı metin sınıflandırma alanında en sık kullanılan beş algoritmayı dönem ve eğilim, yüzyıl ve şair tahmini için ayrı ayrı karşılaştırdık ve elde ettiğimiz accuracy oranları sayesinde seçimimizi yapabildik. Detaylı bilgi sayfanın devamında yer almaktadır.</p>
            <h4 class="headline2"> Kısaca Lojistik Regresyon Algoritması</h4>
            <p class="text"> İstatistikte, lojistik model, geçti/kaldı, kazan/kaybet veya sağlıklı/hasta gibi var olan belirli bir sınıf veya olayın olasılığını modellemek için kullanılır. Bu model, nesne algılaması, çoklu metin sınıflandırma, vb gibi durumlarda kullanılabilir. Temel mantığı eğitildiği veri seti üzerinden yola çıkarak tahminde bulunduğu konu hakkında 0 ve 1 arasında bir olasılık belirlemesidir.</p>
            <h4 class="headline2"> Kısaca KNN (K-Nearest Neighbors) Algoritması</h4>
            <p class="text"> İstatistikte, k-en yakın komşu algoritması (k-NN) parametrik olmayan bir sınıflandırma yöntemidir, ilk olarak Evelyn Fix ve Joseph Hodges tarafından 1951'de geliştirilmiştir ve daha sonra Thomas Cover tarafından genişletilmiştir. Sınıflandırma ve regresyon için kullanılır. KNN, fonksiyonun yalnızca yerel olarak tahmin edildiği ve tüm hesaplamanın fonksiyon değerlendirmesine kadar ertelendiği bir sınıflandırma türüdür. Bu algoritma, sınıflandırma için mesafeye dayandığından, özellikler farklı fiziksel birimleri temsil ederse veya çok farklı ölçeklerde gelirse, eğitim verilerini normalleştirmek, doğruluğunu önemli ölçüde artırabilir.</p>
            <h4 class="headline2"> Kısaca Naive Bayes Algoritması</h4>
            <p class="text"> Naive Bayes sınıflandırıcı, örüntü tanıma problemine ilk bakışta oldukça kısıtlayıcı görülen bir önerme ile kullanılabilen olasılıksal bir yaklaşımdır. Bu önerme, örüntü tanımada kullanılacak her bir tanımlayıcı öznitelik ya da parametrenin istatistik açıdan bağımsız olması gerekliliğidir. Her ne kadar bu önerme Naive Bayes sınıflandırıcının kullanım alanını kısıtlasa da, genelde istatistik bağımsızlık koşulu esnetilerek kullanıldığında da daha karmaşık yapay sinir ağları gibi metotlarla karşılaştırabilir sonuçlar vermektedir. Bir Naive Bayes sınıflandırıcı, her özniteliğin birbirinden koşulsal bağımsız olduğu ve öğrenilmek istenen kavramın tüm bu özniteliklere koşulsal bağlı olduğu bir Bayes ağı olarak da düşünülebilir.</p>
            <h4 class="headline2"> Kısaca Linear Support Vector Machine Algoritması</h4>
            <p class="text"> Makine öğreniminde, linear support vector machine (doğrusal destek vektör makinesi), sınıflandırma ve regresyon analizi için verileri analiz eden ilişkili öğrenme algoritmalarına sahip denetimli öğrenme modelleridir.</p>
            <h4 class="headline2"> Kısaca Keras</h4>
            <p class="text"> Keras, yapay sinir ağları için bir Python arabirimi sağlayan açık kaynaklı bir yazılım kitaplığıdır. Keras, TensorFlow kitaplığı için bir arabirim görevi görür.</p>
        </div>
        <div>
            <a href="/detayli-accuracy-oranlari" class="detayli_accuracy"> Seçtiğimiz algoritmalar ile eğittiğimiz yapay zeka modellerinin detaylı accuracy oranlarını görmek için tıklayınız. </a>
        </div>
        <div class="secim">
            <h2 class="headline3">Dönem ve Eğilim Tahmini için Algoritma Seçimi</h2>
            <p class="text"> <strong> Karşılaştırılan Algoritmalar: </strong> Lojistik Regresyon, KNN (K-Nearest Neighbors), Naive Bayes, Linear Support Vector Machine, Keras.</p>
            <p class="text" style="margin-top: 5%;"> <strong> Seçilen Algoritma: </strong> <strong style="color: rgb(0, 255, 64);"> Lojistik Regresyon </strong> </p>
            <h4 class="headline2"> Lojistik Regresyon Algoritması ve Sonuçları </h4>            
            <p class="text"> Lojistik regresyon algoritması, veri setimizi kullanarak eğittiğimiz yapay zeka modelimiz için kullandığımız algoritmalar arasında başarı yani accuracy oranı genelde en yüksek olan algoritma oldu. Genel accuracy oranı %88.7 olan lojistik regresyonun bazı dönemleri ve eğilimleri tahmin ederken genel oranının üstüne çıktığı da gözlemlendi. </p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width: 97%;"> 1923-1960 Arası Toplumcu Serbest Şiir: %97 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%;"> Servetifünun: %92 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%;"> Genel Oran: %88 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%;"> Hisarcılar: %84 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"> İkinci Yeni: %80 </div>
            </div>
            <h4 class="headline2"> KNN Algoritması ve Sonuçları </h4>
            <p class="text"> KNN (K-Nearest Neighbors) algoritması, %64.2'lik accuracy oranı ile lojistik regresyona göre geride kaldı. Dönemlere ve eğilimlere ayrıldığında bile lojistik regresyon ortalamasına yaklaşamayan KNN, bazı dönem ve eğilimlerde kendi ortalamasının üstüne çıkarken bazılarında da ortalmasının altında kaldı.</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100" style="width: 81%;"> Metafizik Anlayışını Öne Çıkaran Şiir: %81 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%;"> Cumhuriyet Dönemi Saf Şiir: %73 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="width: 63%;"> Genel Oran: %64 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%;"> Hisarcılar: %57 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%;"> Fecri Ati: %56 </div>
            </div>
            <h4 class="headline2"> Naive Bayes Algoritması ve Sonuçları </h4>
            <p class="text"> Naive bayes algoritması, %61.6'lık accuracy oranı ile hem lojistik regresyon hem de KNN algoritmalarının gerisinde kaldı. Dönemlerin ve eğilimlerin bir kısmında lojistik regresyon düzeyinde gösterdiği başarı ile bazılarında gösterdiği net başarısızlık veri setimizi ikiye böldü. </p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> Milli Edebiyat: %100 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width: 93%;"> Hececiler: %93 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="61" aria-valuemin="0" aria-valuemax="100" style="width: 61%;"> Genel Oran: %61 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"> Cumhuriyet Dönemi Saf Şiir: %50 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100" style="width: 36%;"> 1960 Sonrası Toplumcu Şiir: %36 </div>
            </div>
            <h4 class="headline2"> Linear Support Vector Machine Algoritması ve Sonuçları </h4>
            <p class="text"> Linear support vector machine algoritması, hem genel hem de dönemlere ve eğilimlere göre accuracy oranında lojistik regresyon algoritmasına en yakın algoritma oldu. Genel accuracy oranı %71.4 olan LSVM algoritması, bazı dönemlerde ve eğilimlerde kendi ortalamasını aşıp lojistik regresyon düzeyine yaklaşırken bazılarında ise kendi ortalamasının altında kaldı.</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"> İkinci Yeni: %89 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;"> Garip Şiir: %86 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" style="width: 71%;"> Genel Oran: %71 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"> Metafizik Anlayışını Öne Çıkaran Şiir: %68 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;"> Milli Edebiyat: %66 </div>
            </div>
            <h4 class="headline2"> Keras ve Sonuçları </h4>
            <p class="text"> Keras algoritması %65.3'lük bir genel accuracy oranı ile LSVM ve KNN algoritmaları arasında yerini aldı. Maalesef keras algoritmasının dönemlere ve eğilimlere ait accuracy oranlarına dair bir bilgimiz bulunmamakta.</p>
        </div>
        <div class="secim">
            <h2 class="headline3">Yüzyıl Tahmini için Algoritma Seçimi</h2>
            <p class="text"> <strong> Karşılaştırılan Algoritmalar: </strong> Lojistik Regresyon, KNN (K-Nearest Neighbors), Naive Bayes, Linear Support Vector Machine, Keras.</p>
            <p class="text" style="margin-top: 5%;"> <strong> Seçilen Algoritma: </strong> <strong style="color: rgb(0, 255, 64);"> Lojistik Regresyon </strong> </p>
            <h4 class="headline2"> Lojistik Regresyon Algoritması ve Sonuçları </h4>
            <p class="text"> Lojistik regresyon algoritması, yüzyıl tahmininde tıpkı dönem ve eğilim tahmininde de olduğu gibi genel accuracy oranı en yüksek olan algoritma oldu. Genel accuracy oranı %99.8 olan lojistik regresyon algoritmasının yüzyıllara göre accuracy oranları ise aşağıdaki gibi:</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> 20. yüzyılın 2. yarısı: %100 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> 20. yüzyılın 1. yarısı: %100 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> 19. yüzyıl: %100 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;"> Genel Oran: %99 </div>
            </div>
            <h4 class="headline2"> KNN Algoritması ve Sonuçları </h4>
            <p class="text"> KNN (K-Nearest Neighbors) algoritması, lojistik regresyonun hem genel hem de yüzyıllara özgü accuracy oranları açısında altında kalırken genel accuracy oranı %82.3 oldu. 19. yüzyılı tahmin etmede başarısız olan KNN algoritmasının yüzyıllara göre accuracy oranları ise aşağıdaki gibi:</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width: 83%;"> 20. yüzyılın 2. yarısı: %83 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width: 83%;"> 20. yüzyılın 1. yarısı: %83 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;"> Genel Oran: %82 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="width: 63%;"> 19. yüzyıl: %63 </div>
            </div>
            <h4 class="headline2"> Naive Bayes Algoritması ve Sonuçları </h4>
            <p class="text"> Naive bayes algoritması, %87.4'lük genel accuracy oranı ile KNN ve lojistik regresyon algoritmalarının arasında yer alıyor. 20. yüzyılın 2. yarısını tahmin etmede lojistik regresyonu yakalayan naive bayes algoritmasının yüzyıllara göre accuracy oranları ise aşağıdaki gibi:</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> 20. yüzyılın 2. yarısı: %100 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"> 20. yüzyılın 1. yarısı: %90 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;"> Genel Oran: %87 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;"> 19. yüzyıl: %86 </div>
            </div>
            <h4 class="headline2"> Linear Support Vector Machine Algoritması ve Sonuçları </h4>
            <p class="text"> Linear support vector machine algoritması diğer algoritmaların aksine oldukça düşük bir accuracy oranına sahip oldu. Genel accuracy oranı %62.7 olan LSVM algoritmasının yüzyıllara göre accuracy oranları ise aşağıdaki gibi:</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="width: 63%;"> 20. yüzyılın 2. yarısı: %63 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%;"> Genel Oran: %62 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%;"> 20. yüzyılın 1. yarısı: %48 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"> 19. yüzyıl: %45 </div>
            </div>
            <h4 class="headline2"> Keras ve Sonuçları </h4>
            <p class="text"> Keras algoritması, KNN algoritmasına oldukça yakın bir genel accuracy oranına sahip, %83.5. Maalesef keras algoritmasının yüzyıllara ait accuracy oranlarına dair bir bilgimiz bulunmamakta. </p>
        </div>
        <div class="secim">
            <h2 class="headline3">Şair Tahmini için Algoritma Seçimi</h2>
            <p class="text"> <strong> Karşılaştırılan Algoritmalar: </strong> Lojistik Regresyon, KNN (K-Nearest Neighbors), Naive Bayes, Linear Support Vector Machine, Keras.</p>
            <p class="text" style="margin-top: 5%;"> <strong> Seçilen Algoritma: </strong> <strong style="color: rgb(0, 255, 64);"> Lojistik Regresyon </strong> </p>
            <h4 class="headline2"> Lojistik Regresyon Algoritması ve Sonuçları </h4>
            <p class="text"> Lojistik regresyon algoritması, dönem ve eğilim tahmininde elde ettiği ve yüzyıl tahmininde de koruduğu "en yüksek accuracy oranına sahip algoritma" sıfatını şair tahmininde de sürdürüyor. Genel accuracy oranı %92.7 olan lojistik regresyonun, genel accuracy oranına kıyasla daha yüksek bir oranla tahmin ettiği şairler olduğu gibi genel oranın altında kalıp daha düşük oranlarla tahminlerde bulunduğu şairler de mevcut.</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> Attila İlhan: %100 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"> Mehmet Akif Ersoy: %98 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%;"> Genel Oran: %92 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%;"> Abdülhak Hamit Tarhan: %88 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;"> Cahit Sıtkı Tarancı: %82 </div>
            </div>
            <h4 class="headline2"> KNN Algoritması ve Sonuçları </h4>
            <p class="text"> KNN (K-Nearest Neighbors) algoritması, lojistik regresyona kıyasla daha düşük bir genel accuracy oranına sahip. %62.4 genel accuracy oranına sahip olan KNN'in, şair şair incelediğimiz zaman da istediğimiz başarı oranının altında kaldığını görebiliyoruz. </p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100" style="width: 81%;"> Namık Kemal: %81 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100" style="width: 79%;"> Özdemir Asaf: %79 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%;"> Genel Oran: %62 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100" style="width: 52%;"> Ahmet Hamdi Tanpınar: %52 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100" style="width: 49%;"> Recaizade Mahmud Ekrem: %49 </div>
            </div>
            <h4 class="headline2"> Naive Bayes Algoritması ve Sonuçları </h4>
            <p class="text"> Naive bayes algoritması, %55.1'lik genel accuracy ortalaması ile şair tahmininde kıyasladığımız algoritmalar arasında sonuncu oluyor. Naive bayes, tıpkı dönem ve eğilim tahmininde bazı dönemleri ve eğilimleri çok iyi tahmin edip bazılarını edemediği gibi şair tahmininde de kimi şairler için çok iyi oranlarla tahminlerde bulunurken kimilerinde ise çok yetersiz.</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;"> Necip Fazıl Kısakürek: %99 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100" style="width: 94%;"> Enis Batur: %94 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;"> Genel Oran: %55 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="51" aria-valuemin="0" aria-valuemax="100" style="width: 51%;">  Faruk Nafiz Çamlıbel: %51 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100" style="width: 46%;"> Namık Kemal: %46 </div>
            </div>
            <h4 class="headline2"> Linear Support Vector Machine Algoritması ve Sonuçları </h4>
            <p class="text"> Linear support vector machine algoritması, %75.9'luk genel accuracy oranı ile lojistik regresyonunun ardından ikinci sırada gelerek en başarılı ikinci algoritma oluyor. Şair şair incelendiği zaman lojistik regresyon düzeyinde oranlara sahip olduğu görülebilen LSVM algoritmasının bazı şairler için ortalamanın altında kalan oranları da mevcut.</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"> Orhan Veli Kanık: %90 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"> Sezai Karakoç: %85 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> Genel Oran: %75 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;">  Cahit Sıtkı Tarancı: %68 </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;"> İsmet Özel: %66 </div>
            </div>
            <h4 class="headline2"> Keras ve Sonuçları </h4>
            <p class="text"> Keras algoritması, %60.6'lık genel accuracy oranı ile naive bayes algoritmasının üstünde, sondan ikinci sırada yer alıyor. Maalesef keras algoritmasının şairlere ait accuracy oranlarına dair bir bilgimiz bulunmamakta.</p>
        </div>
    </div>
    {%include "includes/algoritma-secimi-footer.html"%}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>