<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="accordion">
        <h2 class="sss"> Edebi Zeka Rehberi </h2>
        <div class="card card-one">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button id = "sss-button1" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                &rarr; Edebi Zeka Nedir?
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Edebi Zeka, Arda Uzunoğlu tarafından TÜBİTAK 52. Liseler Arası Araştırma Projeleri Yarışması için geliştirilen bir doğal dil işleme uygulamasıdır.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                &rarr; Edebi Zeka'nın Amacı Nedir?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Edebi Zeka'nın amacı, kullandığı yapay zeka modeli sayesinde kullanıcından girdi olarak aldığı bir dizenin hangi dönem ve eğilime, şaire ya da yüzyıla ait olduğunu tahmin etmektir.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                &rarr; Edebi Zeka'nın Çalışma Mekanizması
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Edebi Zeka lojistik regresyon algoritması kullanılarak geliştirilmiş bir yapay zeka modeli kullanmaktadır. Edebi Zeka'nın geliştirilmesinde kullanılan veri setine ve algoritmalara dair daha detaylı bilgi almak isterseniz 'Meraklısına' sekmesine göz atabilirsiniz.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                &rarr; Edebi Zeka Neler Yapabilir?
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              Edebi Zeka, kullanıcıdan aldığı dize girdisini işleyerek dizenin hangi döneme ve eğilime, yüzyıla ve şaire ait olduğuna yönelik bir tahminde bulunabilir.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                &rarr; Edebi Zeka'yı Nasıl Kullanabilirim?
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              Edebi Zeka'yı 'Özellikler' kısmının altında bulan tahmin sekmelerine tıklayarak kullanabilir, Edebi Zeka'yı geliştirmemize yardımcı olmak isterseni geri bildirim formunu doldurabilirsiniz.
            </div>
          </div>
        </div>
    </div>
</body>
</html>