<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
            html,
            body {
                height: 100%;
            }

            #page-content {
                flex: 1 0 auto;
            }

            #sticky-footer {
                width: 100%;
                position: absolute;
                top: 610%;
                background-color: #f5f5f5;
            }

    </style>
</head>
<body>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
          <small>Arda Uzunoğlu tarafından TÜBİTAK 52. Liseler Arası Araştırma Projeleri Yarışması için geliştirilmiştir.</small>
        </div>
    </footer>
</body>
</html>