<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <footer class="footer-clean" style="font-family: 'Roboto Condensed', sans-serif;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Edebî Zekâ&nbsp;ile Tahmin Et</h3>
                    <ul>
                        <li><a href="/siirde-donem-ve-egilim-tahmini">Şiirde Dönem ve Eğilim Tahmini</a></li>
                        <li><a href="/siirde-sair-tahmini">Şiirde Şair Tahmini<br></a></li>
                        <li><a href="/siirde-yuzyil-tahmini">Şiirde Yüzyıl Tahmini<br></a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Hakkımızda</h3>
                    <ul>
                        <li><a href="/iletisim">Geliştirici &amp; Öğrenci</a></li>
                        <li><a href="/iletisim">Danışman</a></li>
                        <li><a href="/planlanan-ozellikler">Planlanan Özellikler</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Katkıda Bulunun</h3>
                    <ul>
                        <li><a href="/geri-bildirim-formu">Geri Bildirim Formu</a></li>
                        <li><a href="/hatali-tahmin-formu">Hatalı Tahmin Formu</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="https://github.com/ardauzunoglu"><i class="icon ion-social-github"></i></a><a href="https://twitter.com/ArdaUzunolu5"><i class="icon ion-social-twitter"></i></a><a href="https://www.instagram.com/arda.ogluzun/"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Arda Uzunoğlu © 2021</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>