<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="font-family: Montserrat, sans-serif;">
        <div class="container"><img src="https://raw.githubusercontent.com/ardauzunoglu/edebizeka/deploy/ez-logo.png" style="width: 50px;height: 50px;margin: 12px 16px;"><a class="navbar-brand" href="/anasayfa" style="color: #008037;">Edebî Zekâ<br></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="/siirde-donem-ve-egilim-tahmini">Tahmin Et</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="/siirde-donem-ve-egilim-tahmini">Şiirde Dönem ve Eğilim Tahmini</a><a class="dropdown-item" href="/siirde-sair-tahmini">Şiirde Şair Tahmini<br></a><a class="dropdown-item" href="/siirde-yuzyil-tahmini">Şiirde Yüzyıl Tahmini<br></a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="/veri-seti-basvuru">Meraklısına</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/algoritma-secimi">Algoritma Seçimi ve Algortimaların Doğruluk Oranları<br></a>
                            <a class="dropdown-item" href="/veri-seti-basvuru">Veri Setine Dair Her Şey</a><a class="dropdown-item" href="/veri-seti-basvuru" style="padding-left: 48px;">Başvuru Aşaması</a><a class="dropdown-item" href="/veri-seti-bolge" style="padding-left: 48px;">Bölge Finalleri</a><a class="dropdown-item" href="/veri-seti-turkiye" style="padding-left: 48px;">Türkiye Finalleri</a>
                            <a class="dropdown-item" href="/kullandigimiz-modeller-basvuru">Kullandığımız Modelin Detaylı Doğruluk Oranları</a><a class="dropdown-item" href="/kullandigimiz-modeller-basvuru" style="padding-left: 48px;">Başvuru Aşaması<br></a><a class="dropdown-item" href="/kullandigimiz-modeller-bolge" style="padding-left: 48px;">Bölge Finalleri</a><a class="dropdown-item" href="/kullandigimiz-modeller-turkiye" style="padding-left: 48px;">Türkiye Finalleri<br></a>
                            <a class="dropdown-item" href="/iyilestirmeler-ve-gelistirmeler-bolge">İyileştirmeler ve Geliştirmeler</a><a class="dropdown-item" href="/iyilestirmeler-ve-gelistirmeler-bolge" style="padding-left: 48px;">Bölge Finalleri Süreci</a><a class="dropdown-item" href="/iyilestirmeler-ve-gelistirmeler-turkiye" style="padding-left: 48px;">Türkiye Finalleri</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/edebi-zeka-efsanesi">Edebî Zekâ'nın Efsanesi</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="/geri-bildirim-formu">Geri Bildirim Formu</a></span>
            </div>
        </div>
    </nav>
</body>
</html>